.jumbotron{
    background-color: #6DE8FF;
    color: black;
    text-align: center;
    margin-top: 15px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: #DAF9FF;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 250px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;    
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}

 footer > div > a{
    color: #000;
 }

 .tab-content{
    padding-top: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 70%, 50%;
  border-radius: 50%;
  background-color: black;  
}

