$jumbotron: #565656;
$fontColor:#66CDD9;
$fontColorTitle: #185b62;
$fontColorText: #248692;
$fontColorHover:#c4ecf0;
$black: #000;
$footer: #48a9c5;
$fondoGris: #f0f0f0;
$fondoBlanco: #fff;
$fondoPrueba:#ebebeb;
$fondoTarjetasPrueba:#f5f5f5;
$fondoContenedorPrueba:#fff;
$borde: #dbdbdb;

$amarillo: #fceb03;
$rojo: #fc0303;
$verde: #02d406;

@mixin margenes($top, $bottom) {
    margin-top: $top+px;
    margin-bottom: $bottom+px;
}

@mixin margenesColor($top, $bottom, $color) {
    margin-top: $top+px;
    margin-bottom: $bottom+px;
    color: $color;
}

@mixin padding($top, $bottom) {
    padding-top: $top+px;
    padding-bottom: $bottom+px;
}

body {
    background: $fondoPrueba;
}

.container {
    border-style: groove;
    border-color: $borde;
    border-width: .5px;
    background: $fondoContenedorPrueba;
    @include padding(15, 15);
}

.jumbotron {
    background-color: $jumbotron;
    text-align: center;
    @include margenesColor(15, 10, $fontColor);
}

.breadcrumb{
    @include margenes(0, 10);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $jumbotron;
    @include margenesColor(10, 0, $fontColor);
}

.card-hotel {
    background-color: $fondoTarjetasPrueba;    
    flex: 1 250px;
    @include margenes(10, 0); 
}

.card-title, 
.card-subtitle {
    color: $fontColorTitle;
}

.card-text {
    color: $fontColorText;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    background-color: $jumbotron;
    color: $fontColor;
}

.footer-address-icon {
    padding-right: 10px;
}

footer > div > a {
    color: $fontColor;
    text-decoration: none;
}

footer > div > a:hover {   
    color: $fontColorHover; 
    text-decoration: none;
}

.tab-content {
    padding-top: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: $black;
    background-size: 70%, 50%;
    border-radius: 50%;
    background-color: $black;
}
