body {
  background: #ebebeb; }

.container {
  border-style: groove;
  border-color: #dbdbdb;
  border-width: .5px;
  background: #fff;
  padding-top: 15px;
  padding-bottom: 15px; }

.jumbotron {
  background-color: #565656;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #66CDD9; }

.breadcrumb {
  margin-top: 0px;
  margin-bottom: 10px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #565656;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #66CDD9; }

.card-hotel {
  background-color: #f5f5f5;
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-title,
.card-subtitle {
  color: #185b62; }

.card-text {
  color: #248692; }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  background-color: #565656;
  color: #66CDD9; }

.footer-address-icon {
  padding-right: 10px; }

footer > div > a {
  color: #66CDD9;
  text-decoration: none; }

footer > div > a:hover {
  color: #c4ecf0;
  text-decoration: none; }

.tab-content {
  padding-top: 10px; }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: #000;
  background-size: 70%, 50%;
  border-radius: 50%;
  background-color: #000; }

/*# sourceMappingURL=style.css.map */
